<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sollis.testapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SollisApp</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="daniel.collins@sollis.co.uk" href="http://www.sollis.co.uk">
        Sollis
    </author>
    <content src="http://www.sollis.co.uk" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
